/* TABURI CU SITE-URI */
#navbar {
text-align:center;
margin-top:1%;
margin-bottom:1%;
} 

#navbar ul {
min-height:initial;
max-height:initial;
margin:0;
list-style-type:none;
background-color: #ffbf80;
border-radius:7px;
}

#navbar ul li {
display:inline-block;
text-decoration:none;
}

/*NAVBAR BUTOANE */
#navbar ul li a {
padding: .3em 2.75em;
color:white;
font-family: Arial Rounded MT Bold;
text-decoration:none;
}

#navbar ul li a:hover {
color:white;
background-color:#ffb366;
}